PORT=8080

SHUTDOWN_TIMEOUT=30s
DELIVERY_MONITOR_INTERVAL=10s

POSTGRES_HOST=postgres
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=database_name
POSTGRES_PORT=5432
POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=5
POSTGRES_MAX_CONN_LIFETIME=1h
POSTGRES_RETRY_MAX_TIME=30s
POSTGRES_RETRY_ATTEMPTS=5

LOCALHOST=8080
COURIER_PORT=8082
ORDER_SERVICE_HOST=http://service-order:8080
ORDER_SERVICE_GRPC=service-order:50051

KAFKA_PORT=9092
KAFKA_UI_PORT=8081
KAFKA_TOPIC=test-topic

KAFKA_BROKERS=localhost:9093
KAFKA_GROUP_ID=courier-service
KAFKA_ORDER_TOPIC=order.changed

KAFKA_VERSION=2.1.0
KAFKA_INITIAL_OFFSET=oldest
KAFKA_AUTO_COMMIT_ENABLE=true
KAFKA_AUTO_COMMIT_INTERVAL=1s